p {
    color:red;
}
table {
    border:0;
}
#header {
    background-color:#0085E9;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#00E8FB;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:#0085E9;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}